*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    padding: 50px 100 px;
}

h1{
    text-align: center;
    background-color: #0076B0;
    color: white;
    padding: 10px;
    margin: 0px;
}

#textarea{
    width: 99.3%;
    border-color: #0076B0;
}

p{
    text-align: center;
    background-color: #0076B0;
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding: 10px;
    margin: 0;
}